.home-layout{
  display: flex;
  .right-content{
    flex: 1;
    height: 100vh;
    overflow: scroll;
    .header-wrapper{
      position: fixed;
      top: 0;
    }
  }
}
.ant-menu{
  margin: 0 !important;
}

