.home-layout{
  display: flex;
  .right-content{
    flex: 1;
    height: 100vh;
    overflow: scroll;
    .header-wrapper{
      position: fixed;
      top: 0;
    }
  }
}
.ant-menu{
  margin: 0 !important;
}

.ant-layout{
  height: 100%;
  .ant-layout-content{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    //margin: 24px 16px;
    //padding: 24px;
    //min-height: 280px;
    //background: rgb(255, 255, 255);
  }
}

.side{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: 80px;
  .svg-icon{
    width: 100px;
    height: 60px;
  }
  .title{
    color: white;
    font-size: 18px;
  }
}

