.container {
	:global {
		.tips {
			padding: 10px 50px;
			border: 1px solid #efefef;
			background-color: #fff;
			border-radius: 10px;
			margin-bottom: 10px;
			line-height: 30px;
		}

		.main {
			display: flex;
			.left-base {
				flex: 1;
			}
			iframe {
				flex: 1;
			}
		}
	}
}

