.container {
  :global {
    .tips {
      padding: 10px 50px;
      border: 1px solid #efefef;
      background-color: #fff;
      border-radius: 10px;
      margin-bottom: 10px;
      line-height: 30px;
    }

    .main {
      display: flex;
      .left-base {
        flex: 1;
        min-height: 490px;
        max-height: 500px;
        overflow-y: scroll;
        .classification_wrapper {
          .classification_item {
            display: inline-block;
            padding: 10px;
            cursor: pointer;
          }
        }
        .news_wrapper {
          .news_item {
            margin-bottom: 10px;
          }
        }
      }
      iframe {
        flex: 1;
      }
    }
  }
}
