.footer {
	width: 100%;
	padding: 5px 10px 5px 10px;
	color: #d9d9d9;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	zoom: 0.9;

	a {
		color: #d9d9d9;
		margin-bottom: 5px;

		&:hover {
			color: black;
		}
	}
}
