@import "@/styles/global.less";

.card-wrapper {
  //padding-right: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  :global {
    .setting-item {
      height: 80px;
      border-radius: 10px;

      .left-part {
        display: flex !important;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 80px;
      }

      .right-part {
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;

        .ant-switch {
          .ant-switch-inner {
            background-color: #fff;
          }
        }

        .tag {
          .ant-switch-handle::before {
            background-color: @themePurple;
          }
        }

        .logo {
          .ant-switch-handle::before {
            background-color: @themeYellow;
          }
        }

        .footer {
          .ant-switch-handle::before {
            background-color: @themeOrange;
          }
        }

        .breadcrumb {
          .ant-switch-handle::before {
            background-color: @themeBlue;
          }
        }

      }

      span {
        color: white !important;
        font-size: 12px;
        font-weight: bold;
      }

      button {
        zoom: 0.9;
      }

      &:nth-child(1) {
        background-color: @themePurple;
      }

      &:nth-child(2) {
        background-color: @themeYellow;
      }

      &:nth-child(3) {
        background-color: @themeOrange;
      }

      &:nth-child(4) {
        background-color: @themeBlue;
      }
    }
    .close {
      .ant-switch-inner {
        background: transparent !important;
      }

    }
  }


}
