.home-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;

	:global {
		.ant-row {
			width: 100%;

			.part-A {
				padding-right: 20px;
			}

			.part-B {
				padding-left: 10px;

				& > div {
					.part-B-item {
						& > span {
							display: inline-block;
							margin: 0 0 5px 5px;
							font-weight: bold;
							color: #939393;
						}
					}

					&:nth-child(2) {
						margin: 20px 0;
					}
				}
			}
		}

		//
		//&::-webkit-scrollbar {
		//  width: 10px;
		//}
		//
		//&::-webkit-scrollbar-track {
		//  background: rgb(179, 177, 177);
		//  border-radius: 10px;
		//}
		//
		//&::-webkit-scrollbar-thumb {
		//  background: rgb(136, 136, 136);
		//  border-radius: 10px;
		//}
		//
		//&::-webkit-scrollbar-thumb:hover {
		//  background: rgb(100, 100, 100);
		//  border-radius: 10px;
		//}
		//
		//&::-webkit-scrollbar-thumb:active {
		//  background: rgb(68, 68, 68);
		//  border-radius: 10px;
		//}
	}
}
