:global {
	.home-container {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		//overflow-y: scroll;

		&::-webkit-scrollbar {
			width: 10px;
		}

		&::-webkit-scrollbar-track {
			background: rgb(179, 177, 177);
			border-radius: 10px;
		}

		&::-webkit-scrollbar-thumb {
			background: rgb(136, 136, 136);
			border-radius: 10px;
		}

		&::-webkit-scrollbar-thumb:hover {
			background: rgb(100, 100, 100);
			border-radius: 10px;
		}

		&::-webkit-scrollbar-thumb:active {
			background: rgb(68, 68, 68);
			border-radius: 10px;
		}

		.part-A {
			width: 100%;
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			grid-column-gap:30px ;
			background-color: #ffffff;
			padding: 20px 15px;
			border: 1px solid #efefef;
			border-radius: 5px;
		}

		.part-B {
			width: 100%;
			margin: 20px 0;
		}

		.part-C {
			width: 100%;
			display: flex;
			justify-content: space-between;
		}
	}
}
