.home-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  :global {
    .ant-row {
      width: 100%;

      .part-A {
        padding-right: 20px;
      }

      .part-B {
        padding-left: 10px;

        & > div {
          .part-B-item {
            & > span {
              display: inline-block;
              margin: 0 0 5px 5px;
              font-weight: 600;
              font-size: 13px;
              color: #939393;
            }
          }

          &:nth-child(2) {
            margin: 20px 0;
          }
        }
      }
    }
  }
}
